{% extends 'shop/basic.html' %}
{% load static %}
{% block css%}
<style>
    .carousel-control-next,
    .carousel-control-prev {
        top: unset;
        bottom: unset;
    }

    .card-img,
    .card-img-top {
        height: 20vw;
        width: 100%;
        object-fit: cover;
    }
</style>
{%endblock%}
{% block body %}
<div class="container">
    {% for product, range, no_of_slides, category_nospace in allproducts %}
    <h1 class="my-3">{{product.0.category}}</h1>
    {%for c in category_nospace%}
    <div id="carouselExampleCaptions_{{c}}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-dark"
                aria-current="true" aria-label="Slide 0"></button>
            {% for i in range %}
            <button type="button" data-bs-target="#carouselExampleCaptions" class="bg-dark" data-bs-slide-to="{{i}}"
                aria-label="Slide {{i}}"></button>
            {%endfor%}
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for i in product %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{i.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="name{{i.id}}">{{i.name}}</h5>
                                <p class="card-text">{{i.description}}
                                </p>
                            </div>
                            <div class="btn-group mx-auto my-1 ">
                                <button type="button" id="price{{i.id}}"
                                    class="btn btn-sm btn-outline-secondary disabled my-1">₹
                                    {{i.price}}</button>
                                <div class="btn-group mx-auto my-1 break" id="divProduct{{i.id}}">
                                    <button type="submit" class=" add-to-cart btn btn-sm btn-outline-secondary "
                                        id="Product{{i.id}}">Add to Cart
                                        </form>
                                </div>
                                <a href="/shop/product/{{i.id}}"
                                    class="add-to-cart btn btn-sm btn-outline-secondary  my-1">Quick view</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{i.pub_date}}</small>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions_{{c}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden ">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions_{{c}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden ">Next</span>
    </button>
    <p id="p"> h</p>
    {%endfor%}
    {%endfor%}

</div>
{%block script%}

{%endblock%}

{% endblock %}